rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow seamless read & write for all collections with application-level security
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
